  <div class="hero-unit">
        <h1>DHC Knight Project: Dance Criticism Web Scraper</h1>
        <p>DHC is creating a fully searchable subject-specific online site that will present dance writing and link it to streaming videos of related dance works. By linking direct documentation of performances with context and critical viewpoints, DHC will help save the lively conversations that surround and support the creation of dance and other arts.</p>
        <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
      </div>

<div class="row">
        <div class="span4">
          <h2>Nominate a page</h2>
          <h2>Find this URL</h2>
            <form action="/nominate" method="POST">
              <input type="text" name="noms[nom1]" />
              <button type="submit">Submit</button>
            </form>
        </div>
        <div class="span4">
          <h2>Find links</h2>
          <p>Find related links from selected websites</p>
          <p><a class="btn" href="/getlinks">Find links! &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Search Archive</h2>
          <p>Search previously archived material</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>
       <hr>