<h1>Select a site to crawl for links:</h1>
<div class="well col-lg-3">
<form action "/getlinks" method="POST">
  <ul>
      <li><input type="text" name="sites[]" value = "0">Find all links for this URL</li>
  <ul>

<button type="submit">Submit</button>
  </form>
</div>