<h1>Nominate this page</h1>
<h2>Showing screenshot for <%= $user_url[0]%></h2>

<div class="well col-md-3">
<form action="/submiturl" method="POST">
  <ul>
      <li><input type="checkbox" name="sites[]" value = "0"> Text</li>
      <li><input type="checkbox" name="sites[]" value = "1"> Images</li>
      <li><input type="checkbox" name="sites[]" value = "2"> Video</li>
      <li><input type="checkbox" name="sites[]" value = "3"> Entire page</li>
      <li><input type="checkbox" name="sites[]" value = "4"> Entire article</li>
  <ul>
    <br>
<button type="submit">Submit</button>
  </form>
</div>



<%  f = Screencap::Fetcher.new($user_url[0].to_s) %>

<% @killit = $user_url[0].delete('.') %>
<% @dead = @killit.gsub('/',"") %>
<% @argh = @dead.delete(':') %>
<% @use = File.join('', @argh) %>
<% @use << '.png' %>
<p><img src= '<%= @use%>' /></p>

<% screenshot = f.fetch(:output => @use )%>
